/* MAIN ------------------------------------------------------------*/

#main{
		
}

#main #content{
	position: relative;
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 852px;
	
	background: #f5f5f5;
	
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.1); 
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,.1); 
	box-shadow: 0px 0px 4px rgba(0,0,0,.1);
	
}

.shadow-main{
	width: 852px;
	height: 11px;
	background: url(../images/shadow-main.png) no-repeat top center;
	margin-left: auto;
    margin-right: auto;
}

#usernamediv{
	background-color: rgba(255, 255, 255, 0.6);
	float: left;
	font-family: 'Bowlby One SC', cursive;
	margin: 10px;
	font-size: 14px;
	color: black;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

/* Override lessgrid config ------------------------------------------*/

.wrapper {
	width: 1000px;
}


/* GENERAL ---------------------------------------------------------- */

body{
	background: #ececec url(../images/main-pattern.png);
	color: #888;
}

body p{
	margin-bottom: 21px;
}

body a{
	text-decoration: none;
	color: #444;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

body a:hover{
	color: #fe8300;
}

.clearfix{ clear:both; }


.wrapper,
#main{
	margin: 0 auto; 
	position: relative;
}


/* TABLES AND LIST PAGES ------------------------------------------------------*/

#list-videoBean{
	max-width: 960px;
	min-height: 700px;
	margin: 100px auto;
	background-color: #EFEFEF;
	border-style:solid;
	border-width:1px;
	border-color: (173, 173, 173);
}

#list-videoBean h1{
	background-color:rgb(255,255,255);
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

table {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
	padding-right: 1.25em;
}

td, th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

td{
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}

td a{
	text-decoration:underline;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
	font-size: 18px;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666666;
}

th a:hover, th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #ffffff;
}

th:hover, tr:hover {
	background: #E1F2B6;
}

#addbtndiv{
	width:120px;
	margin: 30px auto;
}

#list-user h1{
	margin-top: 30px;
	text-align: center;
	background-color: white;
	margin-top: 80px;
	padding-top: 30px;
}

/* VIDEO BEANS FORMS (CREATE AND SHOW) --------------------------*/

#create-videoBean, #show-videoBean, #edit-videoBean {
	max-width: 400px;
	min-height: 300px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 250px;
	background-color: #EFEFEF;
	border-style:solid;
	border-width:1px;
	border-color: (173, 173, 173);
}

#create-videoBean .fieldcontain, #edit-videoBean .fieldcontain{
	width:50%;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#create-videoBean .form, #edit-videoBean .form{
	margin-top: 50px;
}


#create-videoBean h1, #show-videoBean h1, #edit-videoBean h1  {
	background-color: rgb(255,255,255);
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.buttons {
	width: 300px;
	margin: 0px auto;
	margin-top: 10px;
	text-align: center;
}


.fieldcontain input{
	float: right;
}

#show-videoBean ul {
	list-style-type: none;
	font-size: 20px;
	text-align: center;
	margin-top: 40px;
}

#show-videoBean li {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* PAGINATION ----------------------------------------------------*/

.pagination {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	   -moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	        box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* DIALOGS --------------------------------------------------------*/

#dialogDiv{
	text-align: center;
} 

.dlLinkBtn{
	margin-top: 30px;
	margin-bottom: 30px;
}

/* HEADER ------------------------------------------------------------*/

#banner{
	position: relative;
	height: 225px;
	background: url(../images/header.png)  repeat-x center center;
	display: block;
}

#logo{
	display: block;
	padding-top: 100px;
	float: left;
	color: #222;
	text-shadow: 0px 2px 3px #555;
	text-align: center;
}

#logo span{
	font-family: 'Leckerli One', cursive;
	font-size: 63px;
}

#logo:hover{ opacity: 0.8;}


/* NAVIGATION ------------------------------------------------------------*/


nav{

	float: right;
	line-height: 1.8em;
}

nav a{
	text-decoration: none;
	color: #acacac;
}

#nav{
	margin-top: 97px;
}

#nav li{
	display: inline;
	font-size: 16px;
	float: left;
}

#nav>li>a{
	display: block;
	overflow: hidden;
	padding: 5px 10px 0px 10px;
	color: #f5f5f5;
	background: rgba(0,0,0,.0);
	
	text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#nav>li>a:hover,
#nav>li.current-menu-item>a,
#nav>li.current_page_item>a{
	background: #303232;
	background: rgba(0,0,0,.2);
	border-bottom: solid #1c1d1d 5px;
}

#nav>li.current-menu-item>a,
#nav>li.current_page_item>a{
	color: #fe8300;
}

#nav>li>a>.subheader{
	color: #717171;
	display: block;
	font-size: 11px;
	margin-top: -8px;
	font-weight: lighter;
}

#nav .sf-sub-indicator{
	float: right;
}

#nav>li>a>.sf-sub-indicator{
	display: none;
}

/* sub navigation -----------------------------------------------------*/

#nav>li ul{
	display: block;
	margin-top: 4px;
	background: #1c1d1d;
}


#nav>li ul li a{
	display: block;
	padding: 10px 15px;
	display: block;
	font-size: 11px;
	color: #717171;
	text-decoration: none;
}

#nav>li ul li a span{
	display: block;
}

#nav>li ul li a:hover{
	background: #717171;
	color: #1c1d1d;
}

/* Waterwheel --------------------------------*/

#waterwheel{
	height: 400px;
}

#waterwheel-wrapper{
	margin-top:-38px;
	width: 100%;
	-webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
	background-color: rgb(240, 240, 240);
	padding-top: 0px;
	text-align: center;
}

#shadow-waterwheel {
	height: 11px;
	background: url(../images/shadow-main.png) no-repeat top center;
	margin-bottom: 70px;
}

.cover {
    border: solid 2px rgb(255, 255, 255);
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent), to(rgba(255,255,255,0.2)));
}

#prev_btn:hover{
	background-position: -34px -0px;
}

#prev_btn{
	width: 34px;
	height: 37px;
	left: -18px;
	margin-top: -540px;
	display: block;
	background: url(../images/slider-nav.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
}

#next_btn:hover{
	background-position: -34px -40px;
}

#next_btn{
	width: 34px;
	height: 37px;
	right: -18px;
	margin-top: -540px;
	display: block;
	background: url(../images/slider-nav.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	background-position: 0px -40px;
}

/* headline ------------------------------ */

#headline{
	font-family: 'Chivo', sans-serif;
	font-size: 36px;
	line-height: 1.5em;
	text-align: center;
	padding: 20px 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 1);
	margin-bottom: 50px;
	background: #eaeaea;
	color: #444;
	
}

/* features ------------------------------ */

#features {
	font-family: 'Chivo', sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: 900;
	border-bottom: 1px solid #ccc;
	color: #444;
	padding-bottom: 20px;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 32px;
	height: 50px;
}

/* songs div -------------*/

#songsdiv{
	height: 700px;
    padding-bottom: 50px;
    padding-left: 50px;
    font-family: 'Chivo', sans-serif;
	font-size: 20px;
	overflow:auto;
}

#songsdiv li{
	padding: 10px;
}

/* FOOTER ------------------------------------------------------------*/

.footer{
	background: 
		url(../images/footer-line.png) repeat-x top left,
		url(../images/noise.png);
	background-color: #e6e5e1;
	min-height: 100px;
	
	text-shadow: 0 1px rgba(255, 255, 255, .9);	
}

.footer a{
	color: #444;
	text-decoration: none;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.footer a:hover{
	color: #fe8300;
}

.footer .wrapper{
	margin-top: -60px;
	padding-bottom: 60px;
}

.footer-cols{
	padding-top: 100px;
}

.footer-cols>li{
	display: block;
	float: left;
	margin-bottom: 20px;
}

.footer-cols>li{
	display: block;
	float: left;
	width: 252px;
	margin-left: 24px;	
}

.footer-cols h4{
	margin-bottom: 21px;
}

.footer-cols>li.first-col{
	
}

.footer-cols>li.second-col{

}

.footer-cols>li.third-col{ margin-right: 0px; }

